<div class="flex items-center justify-center p-10">
  <div class="flex w-full items-center justify-around h-full flex-col md:flex-row">
    <div routerLink="/shop" class="w-2/3 md:w-1/3 border border-gray-200 cursor-pointer">
      <img
        class="object-contain min-h-[80vh]"
        src="https://impro.usercontent.one/appid/oneComShop/domain/studiookkino.com/media/studiookkino.com/webshopmedia/ok-kino-31-1658829617631.jpg?&crop=center&resize=1920+2496"
        alt="shop now"
      />
      <p class="font-light text-xl py-4 text-center">Shop now</p>
    </div>
    <div routerLink="/about" class="w-1/3 border border-gray-200 cursor-pointer">
      <img
        class="object-contain min-h-[80vh]"
        src="https://studiookkino.com/____impro/1/onewebmedia/39.jpg?etag=%2218264-62dfce1e%22&sourceContentType=image%2Fjpeg&ignoreAspectRatio&resize=1200,1500&extract=3,0,1193,1500"
        alt="About us"
      />
      <p class="font-light text-xl py-4 text-center">About us</p>
    </div>
  </div>
</div>
<footer class="flex items-center justify-center space-x-32 pt-20">
  <p class="font-light text-lg py-4 text-center">Instagram</p>
  <p class="font-light text-lg py-4 text-center">Propeller</p>
  <p class="font-light text-lg py-4 text-center">Facebook</p>
  <p class="font-light text-lg py-4 text-center">Join us</p>
</footer>
